/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'ngx-toastr/toastr';
*{
    margin:0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: "Rubik", sans-serif;
}
